@import "../../cssModules/vars.module";

.goodsContainer {
    width: 75%;
}

.goods {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
}

.extraCardBtn {
    display: flex;
    align-items: center;
    padding: 13px 25px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    background: green;
    transition: all .2s;
    cursor: pointer;
    margin-bottom: 20px;
    span {
        padding-left: 10px;
        color: $base-white;
    }
    &:hover {
        box-shadow: 0 0 5px green;
    }
}

@media (max-width: 500px) {
    .goodsContainer {
        width: 95%;
    }
}

